# https://docs.fedoraproject.org/en-US/fedora/f35/install-guide/appendixes/Kickstart_Syntax_Reference/
# https://github.com/sinner-/kickstart-fedora-workstation/blob/master/workstation.ks
# https://github.com/facebookincubator/linux-desktop-kickstarts/blob/main/luks-btrfs-boot-minimal.ks

text
network --activate

url --mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=fedora-$releasever&arch=$basearch
repo --name=fedora
repo --name=updates

skipx
lang en_US.UTF-8
keyboard us
timezone Europe/Oslo
firewall --enabled --ssh
selinux --enforcing

zerombr
bootloader
clearpart --all --initlabel

part /boot/efi --fstype=vfat --label=EFI --size=256
part btrfs.boot --fstype=btrfs --size=512
part btrfs.main --fstype=btrfs --grow --fsoptions="compress=zstd:3,space_cache=v2"

btrfs /boot --label=fedora-boot btrfs.boot
btrfs none --label=fedora-btrfs btrfs.main
btrfs / --subvol --name=root fedora-btrfs
btrfs /home --subvol --name=home fedora-btrfs
btrfs /var/log --subvol --name=var_log fedora-btrfs

rootpw usedDuringInstallat1on

firstboot --disable

reboot

%addon com_redhat_kdump --disable
%end

%packages --inst-langs=en_US.utf8 --ignoremissing --excludedocs
@minimal-environment

binutils
cloud-utils-growpart
curl
efibootmgr
firewalld
git
htop
kernel
net-tools
nfs-utils
open-vm-tools
openssh-clients
openssh-server
python3
python3-libselinux
python3-policycoreutils
rsync
sudo
vim
wget
-plymouth
-iw*-firmware
-microcode_ctl
%end

%post --interpreter=/usr/bin/sh
cat > /etc/ssh/sshd_config.d/90-root-pass.conf << EOF
PasswordAuthentication yes
PermitRootLogin yes
EOF
%end
